<p>icons works!</p>

<p>icons works!</p>

    <!-- solid style -->
    <i class="fa-solid fa-user"></i>
  
    <!-- regular style -->
    <i class="fa-regular fa-user"></i>
  
    <!-- light style -->
    <i class="fa-light fa-user"></i>
  
    <!-- thin style -->
    <i class="fa-thin fa-user"></i>
  
    <!-- duotone style -->
    <i class="fa-duotone fa-solid fa-user"></i>
  
    <!-- sharp solid style -->
    <i class="fa-sharp fa-solid fa-user"></i>
  
    <!-- sharp regular style -->
    <i class="fa-sharp fa-regular fa-user"></i>
  
    <!-- sharp light style -->
    <i class="fa-sharp fa-light fa-user"></i>
  
    <!-- sharp thin style -->
    <i class="fa-sharp fa-thin fa-user"></i>
  
    <!-- all new sharp duotone style -->
    <i class="fa-sharp-duotone fa-solid fa-user"></i>
  
    <!--brand icon-->
    <i class="fa-brands fa-github-square"></i>

    <!-- All of these code snippets will render the same Solid icon thanks to aliases. -->
    <i class="fa-solid fa-cutlery"></i>
    <i class="fa-solid fa-utensils"></i>
    <i class="fas fa-utensils"></i>

    <!-- All of these code snippets will render the same Sharp Solid icon thanks to aliases. -->
    <i class="fa-sharp fa-solid fa-times"></i>
    <i class="fa-sharp fa-solid fa-close"></i>
    <i class="fass fa-xmark"></i>