h5{
  margin-left: 1rem;
}
h4{
  font-size: 1.5rem !important;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 30vw;
  margin: auto;
}

.contact .mb-3 {
  width: 100%;
  max-width: 400px; /* Pour limiter la largeur du formulaire */
}
.btn:hover {
  background-color: #0056b3;
}
.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contenuContact{
  display: flex;
}
.logo{
  background-color: #ffc71f;
  color: rgb(18, 18, 18);
  width: 20vw;
}
.menuContact{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.boutton{
  float: right;
}

.projet{
  display: flex;
  column-gap: 2rem;

}
.projetTitre{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}
.tech{
  width: 2rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.icone_technologie{
  display: flex;
  column-gap: 0.2rem;
}
.explication{
  font-size: 15px;
}
.titre_experience{
  font-size: 5rem !important;
}

@media (min-width: 768px) {
  *{
    display: flex;
  }
  .navbar{
    display: flex;
    flex-direction: row;
  }
}