<nav class="navbar">
  <ul class="menu">
    <li >
      <a  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']" class="nav-link">
        <fa-icon [icon]="faHome"></fa-icon> 
      </a>
    </li>
    <li >
      <a  routerLinkActive="active" [routerLink]="['/profil']" class="nav-link">
        <fa-icon [icon]="faUser"></fa-icon> 
      </a>
    </li>
    <li >
      <a  routerLinkActive="active" [routerLink]="['/experience']" class="nav-link">
        <fa-icon [icon]="faCode"></fa-icon> 
      </a>
    </li>
    <li >
      <a routerLinkActive="active"  [routerLink]="['/contact']" class="nav-link">
        <fa-icon [icon]="faEnvelope"></fa-icon> 
      </a>
    </li>
  </ul>
</nav>

