nav {
  display: flex;
  justify-content: flex-end; 
  height: 100vh; 
  align-items: center; 
  width: 6vw;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 19px;
  margin: 0;
  align-items: center;
  /* border-left: 1px solid; */
  row-gap: 0.2rem;
}

.menu a {
  text-decoration: none; 
  font-size: 18px; 
  color: #101010; 
}

.active {
  border-left: 2px solid #42ec09;
  padding: 0.8rem;
  border-radius: 26%;
}

.nav-link:hover{
  border-left: 2px solid #42ec09;
  padding: 0.8rem;
  border-radius: 26%;
  transition: 0.5s;
}
.nav-link{
  transition: 0.5s;
}