<div class="navbar">
  <div  class="accueil">
    <div class="image-container">
      <img src="assets/fitiavana0.jpg" alt="Description de l'image" 
            style="width: 101%">
    </div>
  
    <div class="content_accueil">
      <h3 class="">Bonjour !!</h3>
      <h1 class="permanent-marker-regular">Je suis <span class="nom permanent-marker-regular">Fitiavana.</span></h1>
      <h3 class="">Génie logiciel </h3>
      
      <article class="mt-4">
        <p class="apropos">
          Développeur passionné en Java et JavaScript, avec une approche proactive et dynamique. Curieux et motivé par les défis, je suis déterminé à contribuer au succès de projets innovants.
        </p>
      </article>
      
      <div class="button-container mt-5">
        <button type="button">
          <a [routerLink]="['/profil']" class="nav-link">Voir mon profil </a>
        </button>
      </div>
    </div>
  </div>
  <app-navbar></app-navbar>
</div>
