<div class="navbar">
  <div  class="accueil">
    <div class="image-container">
      <img src="assets/fitiavana0.jpg" alt="Description de l'image" 
            style="width: 101%">
    </div>
  
    <div class="content_accueil">
      <h1 class="permanent-marker-regular">Bonjour !</h1>
      <h1 class="permanent-marker-regular">Je suis <span class="nom permanent-marker-regular">Fitiavana</span></h1>
      <article class="mt-4">
        <p>
          Déveleppeur passionné par la technologie et l'innovation, spécialisé
          en développement Java et JavaScript. <br>
          Dynamique, curieurx et toujour prêt à apprendre, je suis motivé à relever
          de nouveaux défis pour contribuer au succés de projets ambitieux.
        </p>
      </article>
    
      <div class="button-container mt-5">
        <button type="button">
          <a [routerLink]="['/profil']" class="nav-link">Voir mon profil </a>
        </button>
      </div>
    </div>
  </div>
  <app-navbar></app-navbar>
</div>
