<div class="navbar">
  <div  class="accueil">
    <div class="image-container">
      <img src="assets/fitiavana0.jpg" alt="Description de l'image" 
            style="width: 101%">
    </div>
  
    <div class="content_accueil">
      <h1>HI THERE!</h1>
      <h1>I'M <span class="nom">Fitiavana</span></h1>
      <article class="mt-4">
        <p>
          Déveleppeur passionné par la technologie et l'innovation, spécialisé
          en développement Java et JavaScript. <br>
          Dynamique, curieurx et toujour prêt à apprendre, je suis motivé à relever
          de nouveaux défis pour contribuer au succés de projets ambitieux.
        </p>
      </article>
    
      <div class="button-container mt-4">
        <button type="button">Télècharger mon cv</button>
      </div>
    </div>
  </div>
  <app-navbar></app-navbar>
</div>
