

.image-container img {
  width: 300px;
  height: auto;
  border-radius: 15px;
}

.apropos{
  font-size: 1rem;
}
.button-container {
  display: flex;
  justify-content: flex-end; /* Aligne le bouton à droite */
}
.nom{
  color: #27f90a;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #27f90a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ac1f1f;
}

.accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 69vw;
  margin: auto;
}

.visibility{
  color: beige;
}
