

<div class="firstContainer">
    <h1>Testing horizontal scrolling w/ three sections</h1>
    <h2>First Container</h2>
  </div>
  <div class="container">
    <div class="description panel blue">
      <div>
        SCROLL DOWN
        <div class="scroll-down"><div class="arrow"></div></div>
      </div>
    </div>
  
    <section class="panel red">
      ONE
    </section>
    <section class="panel orange">
      TWO
    </section>
    <section class="panel purple">
      THREE
    </section>
  </div>
  <div class="lastContainer">
    Last Container
  </div>
  
  