<div class="profil">
  <div class="container text-center my-5">
    <div class="row">
      <div class="col-md-4">
        <div class="image-container">
          <img src="assets/fitiavana0.jpg" alt="Fitiavana Photo" class="rounded-circle profile-image">
        </div>
      </div>
      <div class="col-md-8">
        <div class="content_accueil">
          <h1>HI THERE!</h1>
          <h2>I'M <span class="nom">RAZAKARIONY <br> Finoana Feno Fitiavana</span></h2>
          <p class="mt-4">
            Développeur passionné par la technologie et l'innovation, spécialisé en développement Java et JavaScript.<br>
            Dynamique, curieux et toujours prêt à apprendre, je suis motivé à relever de nouveaux défis pour contribuer
            au succès de projets ambitieux.
          </p>
  
          <!-- Section de contact -->
          <div class="contact-info mt-4">
            <div class="contact-item">
              <fa-icon [icon]="faEnvelope"></fa-icon>
              <span>fitiavanarazakarivony00&#64;gmail.com</span>
            </div>
            <div class="contact-item">
              <fa-icon [icon]="faPhone"></fa-icon>
              <span>+261 34 578 3584</span>
            </div>
            <div class="contact-item">
              <fa-icon [icon]="faMapMarkerAlt"></fa-icon>
              <span>Lot CM 25 à Malaza Ampitatafika, Antananarivo, Madagascar</span>
            </div>
          </div>
  
          <button class="btn btn-primary mt-4" (click)="downloadCV()">Télécharger mon CV</button>
        </div>
      </div>
    </div>
  </div>
  <app-navbar></app-navbar>
  
</div>

