<div class="contenuContact" >
  <app-imagenom></app-imagenom>
  <div class="contact" data-aos="zoom-out-down" data-aos-duration="1300" data-aos-delay="200" data-aos-offset="200">
    <h1 class="lexend-tera titre_contact">CONTACT</h1>
    <form (ngSubmit)="sendEmail()" #emailForm="ngForm" class="mt-3">
      <!-- Subject -->

      <div>
        <label for="options" class="label">Choisissez une option:</label>
        <select class="form-control" id="options" (change)="onOptionChange($event)">
          <option value="" disabled selected>Sélectionnez une option</option>
          <option *ngFor="let option of options" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div *ngIf="selectedOption"></div>

      <!-- Afficher le champ de saisie si l'option "Autre" est sélectionnée -->
      <div *ngIf="selectedOption === 'Autre'" class="mb-3">
        <label for="subject" class="form-label label">Autre</label>
        <input type="text" class="form-control" id="subject" placeholder="Entrez l'autre"
                [(ngModel)]="emailData.subject" name="subject" required #subject="ngModel">
        <div *ngIf="subject.invalid && subject.touched" class="text-danger">Le sujet est requis.</div>
      </div>

      <!-- Champ pour l'email -->
      <div class="mb-3">
        <label for="email" class="form-label label">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Entrez votre email"
               [(ngModel)]="emailData.to" name="email" required #email="ngModel">
        <div *ngIf="email.invalid && email.touched" class="text-danger">L'email est requis.</div>
      </div>

      <!-- Message Text Area -->
      <div class="mb-3">
        <label for="message" class="form-label label">Message</label>
        <textarea class="form-control" id="message" rows="3"
                  [(ngModel)]="emailData.text" name="text" required #text="ngModel"></textarea>
        <div *ngIf="text.invalid && text.touched" class="text-danger">Message is required.</div>
      </div>
  
      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary w-100 mt-3" [disabled]="emailForm.invalid || isLoading">Submit</button>
    </form>
  </div>

  <app-navbar></app-navbar>
</div>
