nav {
  display: flex;
  justify-content: flex-end; 
  height: 100vh; 
  align-items: center; 
}

.menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 19px;
  margin: 0;
  align-items: center;
  border-left: 1px solid;
}

.menu a {
  text-decoration: none; 
  font-size: 18px; 
  color: #101010; 
}

.active {
  color: #42ec09 !important;
  border: 1px solid #42ec09;
  
}
