<div class="navbar">

  
    <app-imagenom></app-imagenom>
  
    <div class="projetTitre">
      <h1>Expérience</h1>
      <div class="projet">
        <div class="card" style="width: 18rem;">
          <fa-icon [icon]="faCode" size="1x"></fa-icon>
      
          <div class="card-body">
            <h5 class="card-title">Développement d'une Application de Gestion de Stock Multi-Dépôt</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        
        <div class="card" style="width: 18rem;">
          <fa-icon [icon]="faCode" size="1x"></fa-icon>
      
          <div class="card-body">
            <h5 class="card-title">Développement d'une Application de Gestion de Stock Multi-Dépôt</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
  
    </div>
    
  
    <app-navbar></app-navbar>
  </div>
  