<div class="navbar">

  
    <app-imagenom></app-imagenom>
  
    <div class="projetTitre">
      <h1 class="lexend-tera">EXPERIENCE</h1>
      <div class="projet">
        <div class="card" style="width: 18rem;">
          <fa-icon [icon]="faCode" size="1x"></fa-icon>
          <h5>Stage SODIM</h5>
          <h5>Avril 2024 - ce jour</h5>
          <div class="card-body">
            <h4 class="card-title">Développement d'une Application de Gestion de Stock Multi-Dépôt</h4>
            <article>
              <p class="card-text">Conception et modélisation de la base de donnée; Optimisation de la gestion stock; Développement des API REST</p>
              <p class="card-text">Technologie utilisés.</p>
            </article>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        
        <div class="card" style="width: 18rem;">
          <fa-icon [icon]="faCode" size="1x"></fa-icon>
          <h5>Stage Value-IT</h5>
          <h5>Mars 203 - Juin 2023</h5>
          <div class="card-body">
            <h4 class="card-title">Développement d'un Système de Gestion du recrutemenent en ligne</h4>
            <article>
              <p class="card-text">Conception et modélisation de la base de donnée; Suivi des candidatures en ligne; Système d'offres d'emploi...</p>
              <p class="card-text mt-5">Technologie utilisés.</p>
            </article>

            <a href="#" class="btn btn-primary ">Go somewhere</a>
          </div>
        </div>
      </div>
  
    </div>
    
  
    <app-navbar></app-navbar>
  </div>
  